<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Variable Engine Web Console</title>
    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <link href="/css/demo.css" rel="stylesheet">
    <link href="/css/3.3.7-bootstrap.min.css" rel="stylesheet">
    <script src="/js/lib/2.1.1-jquery.min.js"></script>
    <script src="/js/lib/3.3.7-bootstrap.min.js"></script>
    <script src="/js/lib/angularJS-1.4.6.js"></script>
    <script src="/js/lib/d3.js"></script>
    <script src="/js/lib/showVia.js"></script>
    <script src="/js/lib/nviTree.js"></script>


</head>

<body id="page-top" ng-app="getVialbles">
<!-- Navigation -->
<div class="container  bg-secondary" style="text-align: center; width: 100%;">
    <h1>Variable Engine——Web Console</h1>
</div>

<!-- Header -->
<div style="height: 80%;width:100%;">
    <div id="main">
        <div id="tree" style="float:left;height:100%;width: 50%;" ng-controller="showViables">

        </div>

        <div id="control" ng-controller="showViables">
            <div id="searchD" style="height: 100%;border-bottom: 1px solid #000000;border-left: 1px solid #000000"
                 ng-controller="showViables">
                <br>
                <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search()">搜索变量</button>
                </span>
                    <input type="text" style="height: 35px;" id="inputVar">
                </div>
                <div id="result" style="height:70%;overflow-y: auto;">
                    <ul>
                        <li ng-repeat="v in searchResult" ng-click="showDetail($event)" ng-controller="showViables">
                            {{v.name}}
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div id="disply">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>变量详细信息:</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#addVar">添加变量
                                    </button>

                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#editVar">编辑变量
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-sm" ng-controller="showViables">
                                    <span class="input-group-addon">变量名称：</span>
                                    <input type="text" class="form-control" ng-model="variableName" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-sm" ng-controller="showViables">
                                    <span class="input-group-addon">变量类型：</span>
                                    <input type="text" class="form-control" ng-model="variableType" readonly>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-sm" ng-controller="showViables">
                                    <span class="input-group-addon">变量类别：</span>
                                    <input type="text" class="form-control" ng-model="variableCategory" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-sm" ng-controller="showViables">
                                    <span class="input-group-addon">变量状态：</span>
                                    <input type="text" class="form-control" ng-model="variableStatus" readonly>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-sm" ng-controller="showViables">
                                    <span class="input-group-addon">变量来源：</span>
                                    <input type="text" class="form-control" ng-model="variableSource" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-sm" ng-controller="showViables">
                                    <span class="input-group-addon">变量描述：</span>
                                    <input type="text" class="form-control" ng-model="variableDescription" readonly>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0 py-4 text-center text-white">
                <div class="container">
                    <small>Copyright &copy; juxinli 2018</small>
                </div>
            </div>

        </div>
    </div>
</footer>


<!--编辑当前变量 -->
<div style="color: #000000">
    <div class="modal fade" id="editVar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        编辑当前变量
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>变量详细信息:</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm" ng-controller="showViables">
                                            <span class="input-group-addon">变量名称：</span>
                                            <input type="text" class="form-control" id="variableNameE"
                                                   ng-model="variableName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm" ng-controller="showViables">
                                            <span class="input-group-addon">变量类型：</span>
                                            <select style="height: 30px;width: 100%;" id="variableTypeE"
                                                    ng-model="variableType" ng-options="x for x in variableTypeNs">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm" ng-controller="showViables">
                                            <span class="input-group-addon">变量类别：</span>
                                            <select style="height: 30px;width: 100%;" id="variableCategoryE"
                                                    ng-model="variableCategory"
                                                    ng-options="x for x in variableCategoryNs">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm" ng-controller="showViables">
                                            <span class="input-group-addon">变量状态：</span>
                                            <input type="text" class="form-control" id="variableStatusE"
                                                   ng-model="variableStatus">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm" ng-controller="showViables">
                                            <span class="input-group-addon">变量来源：</span>
                                            <input type="text" class="form-control" id="variableSourceE"
                                                   ng-model="variableSource">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm" ng-controller="showViables">
                                            <span class="input-group-addon">变量描述：</span>
                                            <input type="text" class="form-control" id="variableDescriptionE"
                                                   ng-model="variableDescription">
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="editSubmit()" ng-controller="editV">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--添加新的变量 -->

    <div ng-controller="updateV" style="color: #000000">
        <div class="modal fade" id="addVar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">
                            添加新的变量
                        </h4>
                    </div>
                    <div class="modal-body" ng-controller="updateV">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3>变量详细信息:</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm" ng-controller="updateV">
                                                <span class="input-group-addon">变量名称：</span>
                                                <input type="text" class="form-control" id="variableNameN"
                                                       ng-model="variableNameN">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" ng-controller="updateV">
                                                <div class="input-group input-group-sm" ng-controller="updateV">
                                                    <span class="input-group-addon">变量类型：</span>
                                                    <select style="height: 30px;width: 100%;" id="variableTypeN"
                                                            ng-init="variableTypeN=variableTypeNs[0]"
                                                            ng-model="variableTypeN"
                                                            ng-options="x for x in variableTypeNs">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm" ng-controller="updateV">
                                                <span class="input-group-addon">变量类别：</span>
                                                <select style="height: 30px;width: 100%;" id="variableCategoryN"
                                                        ng-init="variableCategoryN=variableCategoryNs[0]"
                                                        ng-model="variableCategoryN"
                                                        ng-options="x for x in variableCategoryNs">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm" ng-controller="updateV">
                                                <span class="input-group-addon">变量状态：</span>
                                                <input type="text" class="form-control" id="variableStatusN"
                                                       ng-model="variableStatusN">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm" ng-controller="updateV">
                                                <span class="input-group-addon">变量来源：</span>
                                                <input type="text" class="form-control" id="variableSourceN"
                                                       ng-model="variableSourceN">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm" ng-controller="updateV">
                                                <span class="input-group-addon">变量描述：</span>
                                                <input type="text" class="form-control" id="variableDescriptionN"
                                                       ng-model="variableDescriptionN">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-controller="updateV" ng-click="addSubmit()">
                            提交更改
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


</body>
<script>

</script>
</html>
